/***** Navigation *****/
.nav-button-container{
    height: 45px;
    border-top: 1px solid #CCC;
}
.nav-button-container button{
    margin-top: 12px;
    border:none;
    background-color: transparent;
}
.nav-button-container button i{
    text-transform: uppercase;
}
.nav-button-container .menu-button{
    margin-left: 15px;
}
.nav-button-container .mybag-button{
    float: right;
    margin-right: 10px;
}
/***** Logo *****/

.page-logo h1{
    text-align: center;
}
.page-logo .trademark{
    font-size: 12pt;
    position: absolute;
    top: 30px;
}

/***** Search Bar *****/
.home-search{
    padding: 0;
}
.home-search input{
    border-right: none;
    border-radius: 0;
}
.home-search .input-group-addon{
    background-color: transparent;
    border-radius: 0;
}

/***** By Line *****/
.by-line{
    background-color: #ccc;
    height: 45px;
}
.by-line p{
    text-align: center;
    margin-top: 12px;
}